<div class="home__container">
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202208/1718/NFf86jgU4AeVYgJBEoEKBpxW.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202307/0710/02c58aabf3579a5b5d9ff4ae72775e46c5d0e23d2bb1c020.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/60eca3ac155247e21850c7d075d01ebf0f3f5dbf19ccd2a1.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 269,99"
		>
	</app-card>
	<app-card
		gameCover="https://assets-prd.ignimgs.com/2023/06/16/sonicsuperstars-1686955694090.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
</div>

